:root{
  --black: rgb(0, 0, 0);
  --white: rgb(236,236,236);
  --night: hsl(173,100%,20.4%);
  --gray: hsl(0,0%,60.4%);
  --yellow: hsl(59,100%,49.2%);
  --orange: hsl(42,99.2%,48.6%);
  --darker: hsl(59,100%,26.7%);
  --ligter: hsl(0,0%,23.1%);
}

body{
  background: var(--background-color);
  color: var(--text-color);
}

body.light {
  --background-color: var(--white);
  --text-color: var(--black);
  --track: var(--night);
  --thumb: var(--gray);
  --hthumb: var(--ligter);
}

body.dark {
  --background-color: var(--black);
  --text-color: var(--white);
  --track: var(--orange);
  --thumb: var(--yellow);
  --hthumb: var(--darker);
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.image-container{
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover{
  cursor:pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay{
  opacity:1;
}

.overlay {
  position: absolute;
  background: var(--background-color);
  width: 100%;
  transition: 0.5s ease;
  opacity:0;
  bottom:0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

nav {
  padding: 1rem 25%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: var(--text-color);
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em;
}

::-webkit-scrollbar-track {
  background: var(--track);
  border-radius: 100vw;
  margin: .5em;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb);
  border: .15em solid var(--track);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--hthumb);
}
